/* mobile break point */
@media (max-width: 740px)  {

    .col{
        width: 100%;
    }

    #nav {
        display: block;
    }

    #nav li a {  
        text-decoration: none;
        line-height: 46px;
        padding: 1px 24px;
        display: block;
    }
    
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    
    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: white;
        padding: 5px 41px;
        line-height: 38px;
    }

    #header {  
        position: fixed;
        z-index: 1; /* chỉnh sửa position theo trục z (position cái này đè lên cái kia)*/
        height: 46px;
        background-color: black;   
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }

    #header .search-button {
        display: none;
    }

    #header .nav-menu-btn {
        display: block;
        padding: 0 21px;
        position: absolute;
        top: 0;
        right: 0;
    }

    #header .nav-menu-btn:hover,
    #header .nav-menu-icon:hover {
        background-color: #ccc !important;
        color: black !important;
    }

    #header .nav-menu-icon {
        color: white;
        font-size: 15px;
        line-height: 46px;
    }

    #content .member-img {
        margin-bottom: 16px;
        width: 60%;
        border-radius: 4px;
    }

}